{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "jest"],
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "jasmine": true
  },
  "rules": {
    "import/no-extraneous-dependencies": false,
    "react/jsx-filename-extension": false
  }
}
